<!DOCTYPE html>
<html lang="ro">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/Images/favicon2.ico">
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
    <meta name="author" content="Hirhui Calin">
    <meta name="keywords" content="Filme,cinematografie,popular,trailer,top,istoric">
    <meta name="description" content="Pagina principala este un hub pentru pasionatii de cinematografie.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog de filme</title>
</head>
	
    <body> 
	
	<%- include("../fragmente/header")  %>
    

    <main>
        <section>
            <h2>EROARE 404: Pagina nu a fost gasita!</h2>
			<img src="/Images/lupa2.jpg" alt="lupa">

           
        </section>

            <br />
            <br />

        <div>
            <p><a href="#Top">Inceputul paginii.</a></p>
        </div>
    </main>

	<%- include("../fragmente/footer")  %>
</body>
</html>