<!DOCTYPE html>
<html lang="ro">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/Images/favicon2.ico">
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
    <link rel="stylesheet" type="text/css" href="/CSS/galerie.css">
    <meta name="author" content="Hirhui Calin">
    <meta name="keywords" content="Filme,cinematografie,animatie,2d,comedie,istoric">
    <meta name="description" content="Aceasta pagina prezinta un scurt istoric pentru filmele de animatie.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="js/ejs.min.js"></script>
	<script src="js/script3.js"></script>
    <title>Animatie</title>
</head>
	
    <body> 

    <%- include("../fragmente/header")  %>

    <main>
        <h1>Filmele de animatie</h1>
        <section>
            <h2>Descriere</h2>
            <p>
                Filmul de animație este un gen de film realizat prin animarea personajelor sau obiectelor naturale prin filmarea fotogramă cu fotogramă.

                Animația este procedeul complex prin care se realizează efectul de mișcare. Succesiunea de imagini ce reprezintă descompunerea mișcării se realizează în atâtea faze câte sunt necesare ca după filmarea fotogramă cu fotogramă să redea mișcarea dorită. Odată cu această descompunere a mișcării, se urmărește ca ea prin proiecție să redea și o interpretare artistică, dorită de realizator. În funcție de dorința realizatorului ca tehnică de animație se poate folosii tehnici și procedee diferite: desen, cartoane decupate, păpuși, ecranul cu ace, gravură, obiecte, pictură, plastilină, fluorescență, computer.

                Mai există un gen numit film de animație combinat cu filmări de personaje reale , un gen de film în care imaginea filmată separat cu personaje reale este combinată cu imaginea obținută prin animație.
            </p>


        </section>
        <section>
            <h2>Poze:</h2>
        <div class="gallery">
            <a target="_blank" href="/Images/toystory3.jpg">
                <img src="/Images/toystory3.jpg" alt="Toy Story 3">
            </a>
            <div class="desc">Toy Story 3 (2010)</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/Images/legomovie.jpg">
                <img src="/Images/legomovie.jpg" alt="The Lego Movie">
            </a>
            <div class="desc">The Lego Movie (2014)</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/Images/bb.jpg">
                <img src="/Images/bb.jpg" alt="Beauty and the Beast">
            </a>
            <div class="desc">Beauty and the Beast (1991)</div>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div>
            <p><a href="#Top">Inceputul paginii.</a></p>
        </div>
        </section>
    </main>

    <%- include("../fragmente/footer")  %>
</body>
</html>